<div class="container">
    <h5 class="mt-3">Time Conversion using moment.js</h5>
    <div class="row py-5">
        <div class="col-sm-12 col-lg-6 col-md-6 py-2">
            <label >Minutes
                <input type="text" class="form-control"
                placeholder="Enter value in minutes"
                [(ngModel)]="minutData" pattern="[0-9]*" #minuteData="ngModel" required>
            </label>
            <div [hidden]="minuteData.valid || minuteData.pristine" style="color: red;font-weight: 400;">
                <div [hidden]="!minuteData.hasError('required')">Data is required</div>
                <div [hidden]="!minuteData.hasError('pattern')">Data should be only numbers</div>
            </div>
            <div>Get Minute in Hour :<span *ngIf="flagHour"> {{data}} Hour</span> </div>
            <button class="btn btn-info my-3" (click)="getTimeFromMins(minutData)">Get Hour Value</button>
        </div>
        <div class="col-sm-12 col-lg-6 col-md-6 py-2">
            <label>Second
                <input type="text" class="form-control"
                placeholder="Enter value in second"
                [(ngModel)]="secondData" pattern="[0-9]*" #secondDatavalue="ngModel" required>
            </label>
            <div [hidden]="secondDatavalue.valid || secondDatavalue.pristine" style="color: red;font-weight: 400;">
                <div [hidden]="!secondDatavalue.hasError('required')">Data is required</div>
                <div [hidden]="!secondDatavalue.hasError('pattern')">Data should be only numbers</div>
            </div>
            <div>Get Second in Minute :<span *ngIf="flagMin"> {{datasecond}} Minutes</span></div>
            <button class="btn btn-info my-3" (click)="getTimeFromSecond(secondData)">Get Minutes Value</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>